/**
	app 通用功能css
*/
/*reset*/
body,html{font-family:"微软雅黑","Microsoft YaHei";margin:0;padding:0;font-size:10px;height:100%;font-size:62.5%;}
input,button,select,textarea{font-family:"微软雅黑","Microsoft YaHei";outline:none;}
* {margin:0; padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
img {border:0px;}
ul,li { list-style-type:none;}
a{text-decoration:none;color:#000;font-family:"微软雅黑","Microsoft YaHei";}
a:hover{text-decoration:none;}
div:after {content:""; display: block; height: 0; clear: both; visibility: hidden;}
html,body{height:100%;min-height:100% }
#content{min-height:100%;height:auto;}
#page{padding-bottom:3.5rem;}


/*页脚*/
footer{width:100%;line-height: 3.5rem;font-size:1.2em;text-align: center;margin-top:-3.5rem;height:3.5rem;color:#929292;position: relative;}
footer p{width:80%;margin:0 10% 0 100%;-webkit-transition:margin-left 0.5s 0s ease;right:0;overflow: hidden;}
footer.active p{margin-left:10%;}
.helpwrap{height: 100%;overflow: hidden;}
.helpwrap .divhelp{position: absolute; right:0; width:3.5rem; height:3.5rem; bottom:0; } 
.helpwrap .helpbor{padding: 0.1rem; border-radius: 50%; overflow: hidden; border: 0.1rem solid #5E5E5E; display: inline-block; vertical-align: middle;  margin-top: 50%;-webkit-transform: translate(0 ,-50%); } 
.helpwrap .ahelp{display: block; position: relative; height: 1.2rem; width: 1.2rem; line-height: 1.4rem;}
