body{
	box-sizing:border-box;
}
#content{
	width:100%;
	max-width:100%;
}

.top_blank{
	height:101vw;
	width:100%;
	position: relative;
}

.mx_btn{
	display: block;
	width:100%;
	height:100%;
	text-align: center;
}
.mx_btn.btn_80{
	width:80%;
	margin:auto;
	height: 12vw;
	border-radius: 100px;
	box-shadow: 0 1vw 0 #8e680f;
}
.mx_btn.btn_80 a{
	font-size:6vw;
	line-height: 12vw;
}
.mx_btn.btn_yellow{
	background: #f8ce20;

}
.mx_btn.btn_yellow a{
	color:#10002e;

}

.mx_cont{
	position: relative;
	width:100%;
	min-width:100%;
}
.mx_cont .btn_cont{
	margin-bottom:0;
}


.mx_cont .text_wrap{
	margin-top:4vw;
	padding:0 8vw;
	overflow: hidden;
}
.mx_cont .text_tit{
	color:#fff;
	text-align:center;
	position: relative;
	margin-bottom:4vw;
}
.mx_cont .text_tit::before{
	display: block;
	width: 36%;
	height: 2px;
	content: "";
	position: absolute;
	top: 50%;
	left:0;
	visibility: visible;
	background:#ffffff;
}
.mx_cont .text_tit::after{
	display: block;
	width: 36%;
	height: 2px;
	background: #fff;
	content: "";
	position: absolute;
	top: 50%;
	right:0;
	visibility: visible;
	background:#ffffff;
}
.mx_cont .text_tit h3{
	font-size:4vw;
	font-weight: normal;
}
.mx_cont .text_tit h3::before{
	display: block;
	width: 4px;
	height: 5px;
	content: "";
	position: absolute;
	top: 50%;
	left: 36%;
	margin-top: -2px;
	visibility: visible;
	background: #ffffff;
}
.mx_cont .text_tit h3::after{
	display: block;
	width: 4px;
	height: 5px;
	content: "";
	position: absolute;
	top: 50%;
	right: 36%;
	margin-top: -2px;
	visibility: visible;
	background: #ffffff;
}
.mx_cont .text_cont p{
	color: #ffffff;
	font-size: 3.5vw;
	line-height: 1.5;
}
.mx_cont .list_wrap{
	padding:0 4vw;
	overflow: hidden;
}
.mx_cont .list_wrap li{
	width: 100%;
	
	border-top: 1px solid #440e5d;
	overflow: hidden;
	padding: 2vw 0;
}


.mx_cont .list_wrap li .vote_img{
	float:left;
	width:30%;
	height: 20vw;
	margin-right:4%;
	
}
.mx_cont .list_wrap li .vote_img .img_one{
	margin-right:4vw;
	width:100%;
	height: 100%
}
.mx_cont .list_wrap li .vote_img .img_two{
	width:45%;
	height: 100%;
	float:left;
}
.mx_cont .list_wrap li .vote_img .img_two:nth-child(1){
	margin-right:10%;
}
.mx_cont .list_wrap li .vote_img .img_three{
	width:45%;
	height: 100%;
}
.mx_cont .list_wrap li .vote_img .img_three:nth-child(1){
	margin-right:10%;
	width:45%;
	height: 100%;
	float:left;
}
.mx_cont .list_wrap li .vote_img .img_three:nth-child(2){
	width:45%;
	height: 45%;
	float:left;
}
.mx_cont .list_wrap li .vote_img .img_three:nth-child(3){
	width:45%;
	height: 45%;
	margin-top: 10%;
	float:left;
}
.mx_cont .list_wrap li .vote_img .img_four{
	width:45%;
	height: 45%;
	float:left;
	margin-bottom:10%;
}
.mx_cont .list_wrap li .vote_img .img_four:nth-child(odd){
	margin-right:10%;
}

.mx_cont .list_wrap li .vote_text{
	float:left;
	width:38%;
	height: 20vw;
}
.mx_cont .list_wrap li .vote_text a{
	font-size:4vw;
	line-height: 8vw;
	color:#ffffff;
}
.mx_cont .list_wrap li .vote_text p{
	font-size:3.5vw;
	line-height: 6vw;
	color:#edcbff;
}

.mx_cont .list_wrap li .vote_btn{
	float:left;
	width:28%;
	height: 20vw;
	position: relative;
}

.mx_cont .list_wrap li .vote_btn .mx_btn {
	position: absolute;
	top:35%;
	right:0;
	width: 90%;
	height: 8vw;
	border-radius: 100px;
}
.mx_cont .list_wrap li .vote_btn .mx_btn  a{
	text-align: center;
	line-height: 8vw;
	font-size:4vw;
}

.top_color{
	background:url(../images/back2.jpg) 0 0 / 100% auto no-repeat;
	height: 60vw;
	overflow: hidden;
	position: relative;
}
.top_color .order{
	text-align: center;
	color: #fff;
	overflow: hidden;
	margin-top: 5vw;
	line-height: 7vw;
	font-size: 4.5vw;
}
.top_color .ticket{
	text-align: center;
	color: #fff;
	overflow: hidden;
	margin-top: 0vw;
	line-height: 12vw;
	font-size: 8vw;
}
.top_color .photo{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 30vw;
	height: 30vw;
	margin-left: -17vw;
	border: 2vw solid #fff;
	border-radius: 50%;
}
.middle_txt{
	padding: 0 10vw;
	font-size:4vw;
	line-height: 1.5;
	max-height:-webkit-calc( 100vh - 83vw);
	overflow: auto;
	margin-bottom:3vh;
}
.middle_txt h3{
	text-align: center;
	font-size: 5vw;
	font-weight: normal;
	padding: 4vw 0 6vw;
}
